---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { createPath, createLocalPath } from "../../utils/link";
import { tours } from "../../tour-routing";

const posts = await getCollection("tours");
const sortedTours = Object.groupBy(posts, ({ id }) => id.split("/").at(0));
Object.values(sortedTours).forEach((v) =>
  v.sort((a, b) => {
    if (
      a.data.order == null ||
      b.data.order == null ||
      a.data.order === b.data.order
    ) {
      return 1;
    }
    return a.data.order < b.data.order ? -1 : 1;
  }),
);
console.log(sortedTours);
---

<BaseLayout title="Tours">
  <div class="lg:w-[80%] w-[90%] mx-auto my-12">
    <h1>Tours</h1>
    <p class="italic text-neutral-400 my-4">
      We have carefully curated a set of tours that you can follow to achieve
      some leearning outcomes! Check them out below!
    </p>
    {
      tours.map((tour, i) => (
        <div class="flex flex-col gap-1 not-last:mb-4">
          <h2 class="!mb-0">{tour.title}</h2>
          <p class="italic text-neutral-400 !mb-0">{tour.description}</p>
          <div class="flex flex-row gap-2 items-center mb-2">
            <input
              type="checkbox"
              id={`goal-${i}`}
              name={`goal-${i}`}
              value={`goal-${i}`}
              disabled
            />
            <label
              class="text-neutral-500"
              for={`goal-${i}`}
            >
              {tour.goal}
            </label>
          </div>
          <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
            {sortedTours[tour.path].map((data) => (
              <a
                href={createLocalPath(createPath("tours", data.id))}
                class="hover:shadow-md transition duration-300 flex flex-col gap-2 p-4 border-1 border-neutral-300 rounded-md !no-underline"
              >
                <span class="inline-block w-full text-lg font-bold">
                  {data.data.title}
                </span>
                <span class="text-sm inline-block w-full text-neutral-500 italic">
                  {data.data.description}
                </span>
              </a>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
